<footer class='footer'>
  <div class='footer__inner'>
    <div class='footer__left'>
      {% include 'logo/logo.njk' %}
      <div class='footer__subtitle'>NFT Collection Platform</div>
      {% include 'social/social.njk' %}
    </div>
    <div class='footer__right'>
      <div class='footer-menu'>
        <h4 class='menu-title'>About</h4>
        <ul class='menu-list'>
          <li class='menu-list__item'>
            <a class='menu-list__link' href='#'>About</a>
          </li>
          <li class='menu-list__item'>
            <a class='menu-list__link' href='#'>Terms</a>
          </li>
          <li class='menu-list__item'>
            <a class='menu-list__link' href='#'>Legal</a>
          </li>
        </ul>
      </div> {# /footer-menu #}

      <div class='footer-menu'>
        <h4 class='menu-title'>NFT</h4>
        <ul class='menu-list'>
          <li class='menu-list__item'>
            <a class='menu-list__link' href='#'>Learn</a>
          </li>
          <li class='menu-list__item'>
            <a class='menu-list__link' href='#'>Earn</a>
          </li>
          <li class='menu-list__item'>
            <a class='menu-list__link' href='#'>Affiliate</a>
          </li>
        </ul>
      </div> {# /footer-menu #}

      <div class='footer-menu'>
        <h4 class='menu-title'>Contact</h4>
        <ul class='menu-list'>
          <li class='menu-list__item'>
            <a class='menu-list__link' href='#'>Press</a>
          </li>
          <li class='menu-list__item'>
            <a class='menu-list__link' href='#'>Support</a>
          </li>
        </ul>
      </div> {# /footer-menu #}

      <div class='footer-menu'>
        <h4 class='menu-title'>Social</h4>
        <ul class='menu-list'>
          <li class='menu-list__item'>
            <a class='menu-list__link' href='#'>Twitter</a>
          </li>
          <li class='menu-list__item'>
            <a class='menu-list__link' href='#'>Instagram</a>
          </li>
        </ul>
      </div> {# /footer-menu #}

    </div> {# /footer__right #}
  </div> {# /footer__inner #}

  <div class='copyright'>
    <span>© Copyright 2022 NFTwow</span>
    <span>All Rights Reserved</span>
  </div>
</footer>
