.new-collections {
  margin-bottom: 55px;
}

.new-collections__cards {
  @include media-up(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  @include media-up(lg) {
    gap: 24px;
  }

  @include media-down(md) {
    .intro-card:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .intro-card:nth-child(4n + 1) {
    background-color: $color-card-4;
  }

  .intro-card:nth-child(4n + 2) {
    background-color: $color-card-5;
  }

  .intro-card:nth-child(4n + 3) {
    background-color: $color-card-6;
  }

  .intro-card:nth-child(4n + 4) {
    background-color: $color-card-7;
  }
}
