{% from 'btn/btn.njk' import btn %}
{% macro introCard(props) %}
<div class='intro-card intro-card--white'>
  <div class='intro-card__content'>
    {% if props.icon %}
    <div class='intro-card__icon'>
      <svg width='32' height='32'>
        <use xlink:href='images/svg/sprite.svg#{{props.icon}}'></use>
      </svg>
    </div>
    {% endif %}
    <div class='intro-card__title'>{{props.title}}</div>
    <div class='intro-card__text'>{{props.text}}</div>
    {{
      btn({
        href: props.btn.href,
        className: props.btn.type,
        text: props.btn.text
      })
    }}
  </div>
  <div class='intro-card__img'>
    <img src='./images/nft/{{props.img}}' alt='{{props.title}}'>
  </div>
</div>
{% endmacro %}
