{% from 'btn/btn.njk' import btn %}
<section class='trending'>
  <div class='trending-card'>
    <div class='section-header'>
      <div class='section-inner'>
        <h2 class='section-title'>Top &amp; Trending</h2>
        <div class='section-text'>
          <p>See what’s hot in the world of non-fungibles.</p>
        </div>
      </div>
      {{
        btn({
          href: '#',
          className: 'btn-secondary',
          text: 'Explore'
        })
      }}
    </div> {# /section-header #}

    <ul class='trending-list'>
      <li class='trending__item'>
          <a href='' class='trending__link trend-nft'>
            <div class='trend-nft__img'>
              <img src='images/nft/roundiiies.png' alt='Roundiiies'>
            </div>
            <div class='trend-nft__content'>
              <div class='trend-nft__content-top'>
                <h3 class='trend-nft__name'>Roundiiies</h3>
                <span class='trend-nft__percent trend-nft__percent--plus'>+1,095.3%</span>
              </div>
              <div class='trend-nft__prices'>
                <div class='trend-nft__price-lowest'>
                  <span>Lowest Price: </span>
                  <span class='trend-nft__price'>45.2</span>
                </div>
                <div class='trend-nft__price'>87,490.32</div>
              </div>
            </div>
          </a>
      </li>
      <li class='trending__item'>
        <a href='' class='trending__link trend-nft'>
          <div class='trend-nft__img'>
            <img src='images/nft/flewid.png' alt='Flewid'>
          </div>
          <div class='trend-nft__content'>
            <div class='trend-nft__content-top'>
              <h3 class='trend-nft__name'>Flewid</h3>
              <span class='trend-nft__percent trend-nft__percent--minus'>-5.3%</span>
            </div>
            <div class='trend-nft__prices'>
              <div class='trend-nft__price-lowest'>
                <span>Lowest Price: </span>
                <span class='trend-nft__price'>2.5</span>
              </div>
              <div class='trend-nft__price'>5,984.23</div>
            </div>
          </div>
        </a>
      </li>
      <li class='trending__item'>
        <a href='' class='trending__link trend-nft'>
          <div class='trend-nft__img'>
            <img src='images/nft/angel-of-moon.png' alt='Angel of Moon'>
          </div>
          <div class='trend-nft__content'>
            <div class='trend-nft__content-top'>
              <h3 class='trend-nft__name'>Angel of Moon</h3>
              <span class='trend-nft__percent trend-nft__percent--plus'>+19.6%</span>
            </div>
            <div class='trend-nft__prices'>
              <div class='trend-nft__price-lowest'>
                <span>Lowest Price: </span>
                <span class='trend-nft__price'>19.4</span>
              </div>
              <div class='trend-nft__price'>109,938.11</div>
            </div>
          </div>
        </a>
      </li>
      <li class='trending__item'>
        <a href='' class='trending__link trend-nft'>
          <div class='trend-nft__img'>
            <img src='images/nft/goggle-eyes.png' alt='Goggle Eyes'>
          </div>
          <div class='trend-nft__content'>
            <div class='trend-nft__content-top'>
              <h3 class='trend-nft__name'>Goggle Eyes</h3>
              <span class='trend-nft__percent trend-nft__percent--minus'>-1.9%</span>
            </div>
            <div class='trend-nft__prices'>
              <div class='trend-nft__price-lowest'>
                <span>Lowest Price: </span>
                <span class='trend-nft__price'>0.7</span>
              </div>
              <div class='trend-nft__price'>65,382.17</div>
            </div>
          </div>
        </a>
      </li>
      <li class='trending__item'>
        <a href='' class='trending__link trend-nft'>
          <div class='trend-nft__img'>
            <img src='images/nft/paradize.png' alt='Paradize'>
          </div>
          <div class='trend-nft__content'>
            <div class='trend-nft__content-top'>
              <h3 class='trend-nft__name'>Paradize</h3>
              <span class='trend-nft__percent trend-nft__percent--plus'>+214.8%</span>
            </div>
            <div class='trend-nft__prices'>
              <div class='trend-nft__price-lowest'>
                <span>Lowest Price: </span>
                <span class='trend-nft__price'>82.3</span>
              </div>
              <div class='trend-nft__price'>10,980.66</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div> {# /trending-card #}

  <div class='trending-card'>
    <div class='section-header'>
      <div class='section-inner'>
        <h2 class='section-title'>New &amp; Noteworthy</h2>
        <div class='section-text'>
          <p>See what’s up and coming this week.</p>
        </div>
      </div>
      {{
        btn({
          href: '#',
          className: 'btn-secondary',
          text: 'Explore'
        })
      }}
    </div> {# /section-header #}
    <ul class='trending-list'>
      <li class='trending__item'>
          <a href='' class='trending__link trend-nft'>
            <div class='trend-nft__img'>
              <img src='images/nft/bored-something.png' alt='Bored Something'>
            </div>
            <div class='trend-nft__content'>
              <div class='trend-nft__content-top'>
                <h3 class='trend-nft__name'>Bored Something</h3>
                <span class='trend-nft__percent trend-nft__percent--plus'>+33,902.6%</span>
              </div>
              <div class='trend-nft__prices'>
                <div class='trend-nft__price-lowest'>
                  <span>Lowest Price: </span>
                  <span class='trend-nft__price'>34.7</span>
                </div>
                <div class='trend-nft__price'>11,192.84</div>
              </div>
            </div>
          </a>
      </li>
      <li class='trending__item'>
          <a href='' class='trending__link trend-nft'>
            <div class='trend-nft__img'>
              <img src='images/nft/ltd-socks.png' alt='LTD SOCKS'>
            </div>
            <div class='trend-nft__content'>
              <div class='trend-nft__content-top'>
                <h3 class='trend-nft__name'>LTD SOCKS</h3>
                <span class='trend-nft__percent trend-nft__percent--plus'>+11,231.4%</span>
              </div>
              <div class='trend-nft__prices'>
                <div class='trend-nft__price-lowest'>
                  <span>Lowest Price: </span>
                  <span class='trend-nft__price'>1.8</span>
                </div>
                <div class='trend-nft__price'>75,094.33</div>
              </div>
            </div>
          </a>
      </li>
      <li class='trending__item'>
          <a href='' class='trending__link trend-nft'>
            <div class='trend-nft__img'>
              <img src='images/nft/spacewarp.png' alt='SpAcEwArP'>
            </div>
            <div class='trend-nft__content'>
              <div class='trend-nft__content-top'>
                <h3 class='trend-nft__name'>SpAcEwArP</h3>
                <span class='trend-nft__percent trend-nft__percent--plus'>+1,982.0%</span>
              </div>
              <div class='trend-nft__prices'>
                <div class='trend-nft__price-lowest'>
                  <span>Lowest Price: </span>
                  <span class='trend-nft__price'>1.9</span>
                </div>
                <div class='trend-nft__price'>4,908.39</div>
              </div>
            </div>
          </a>
      </li>
      <li class='trending__item'>
          <a href='' class='trending__link trend-nft'>
            <div class='trend-nft__img'>
              <img src='images/nft/build-blcks.png' alt='BUILDblcks'>
            </div>
            <div class='trend-nft__content'>
              <div class='trend-nft__content-top'>
                <h3 class='trend-nft__name'>BUILDblcks</h3>
                <span class='trend-nft__percent trend-nft__percent--plus'>+709.9%</span>
              </div>
              <div class='trend-nft__prices'>
                <div class='trend-nft__price-lowest'>
                  <span>Lowest Price: </span>
                  <span class='trend-nft__price'>10.4</span>
                </div>
                <div class='trend-nft__price'>1,093.84</div>
              </div>
            </div>
          </a>
      </li>
      <li class='trending__item'>
          <a href='' class='trending__link trend-nft'>
            <div class='trend-nft__img'>
              <img src='images/nft/roman-empire.png' alt='Roman Empire'>
            </div>
            <div class='trend-nft__content'>
              <div class='trend-nft__content-top'>
                <h3 class='trend-nft__name'>Roman Empire</h3>
                <span class='trend-nft__percent trend-nft__percent--plus'>+580.3%</span>
              </div>
              <div class='trend-nft__prices'>
                <div class='trend-nft__price-lowest'>
                  <span>Lowest Price: </span>
                  <span class='trend-nft__price'>11.4</span>
                </div>
                <div class='trend-nft__price'>4,095.37</div>
              </div>
            </div>
          </a>
      </li>
    </ul>
  </div> {# /trending-card #}
</section>
