<section class='press'>
  <div class="press__items">
    <a href='#' class='press-item' target='_blank'>
      <img src='./images/press/boomerang.svg' alt='boomerang'>
    </a>
    <a href='#' class='press-item' target='_blank'>
      <img src='./images/press/blimp.svg' alt='blimp'>
    </a>
    <a href='#' class='press-item' target='_blank'>
      <img src='./images/press/qrco.svg' alt='qrco'>
    </a>
    <a href='#' class='press-item' target='_blank'>
      <img src='./images/press/opendoor.svg' alt='opendoor'>
    </a>
    <a href='#' class='press-item' target='_blank'>
      <img src='./images/press/droplet.svg' alt='droplet'>
    </a>
  </div>
</section>
