.press {
  padding: 20px 0;
  margin-bottom: 55px;
}

.press__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 130px);
  column-gap: 40px;
  row-gap: 30px;
  justify-content: center;

  @include media-up(sm) {
    grid-template-columns: repeat(auto-fit, 170px);
    column-gap: 50px;
  }

  @include media-up(lg) {
    justify-content: space-between;
  }
}

.press-item {
  display: inline-block;
  text-decoration: none;
  transition: opacity 0.25s ease;

  &:hover,
  &:focus {
    opacity: 0.9;
  }
}
