  <div class='testimonial'>
    <div class='testimonial__img'>
      <img src='./images/testimonial/testimonial1.png' alt='Jess Young'>
    </div>
    <div class='testimonial__content'>
      <div class='testimonial__name'>Jess Young</div>
      <div class='testimonial__text'>
        “NFTwow helped me to turn my art from earning the odd $20, to earning over seven figures a year.”
      </div>
    </div>
  </div>
