<ul class='trending-list'>
  <li class='trending__item'>
      <a href='' class='trending__link trend-nft'>
        <div class='trend-nft__img'>
          <img src='images/nft/1.png' alt=''>
        </div>
        <div class='trend-nft__content'>
          <div class='trend-nft__content-top'>
            <h3 class='trend-nft__name'></h3>
            <span class='trend-nft__percent trend-nft__percent--plus'></span>
          </div>
          <div class='trend-nft__prices'>
            <div class='trend-nft__price-lowest'>
              <span>Lowest Price: </span>
              <span class='trend-nft__price'></span>
            </div>
            <div class='trend-nft__price'></div>
          </div>
        </div>
      </a>
  </li>
</ul>
