---
layout: base.njk
---
{% include './components/sections/hero/hero.njk' %}
{% include './components/sections/intro-cards/intro-cards.njk' %}
{% include './components/sections/upcoming/upcoming.njk' %}
{% include './components/sections/trending/trending.njk' %}
{% include './components/sections/ending-soon/ending-soon.njk' %}
{% include './components/sections/new-collections/new-collections.njk' %}
{% include './components/sections/learn-and-earn/learn-and-earn.njk' %}
{% include './components/sections/press/press.njk' %}
