.nav {
  position: relative;
  z-index: 10;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.menu__link {
  position: relative;
  display: block;
  font-weight: 500;
  color: $color-nav-link;

  &::before {
    content: '';
    background-color: $color-nav-link;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.25s ease-in-out;
  }
  &:hover {
    color: $color-nav-link;
  }

  &:hover::before {
    width: 100%;
  }
}
