<nav class='nav'>
  <ul class='menu' id='menu'>
    <li class='menu__item'>
      <a href='#' class='menu__link'>Create</a>
    </li>
    <li class='menu__item'>
      <a href='#' class='menu__link'>Explore</a>
    </li>
    <li class='menu__item'>
      <a href='#' class='menu__link'>Wallet</a>
    </li>
  </ul>
</nav>
